.topofthepage{
    width:100%;
    height:400px;
    background-color: #e0e0e0;
}
.pagetitle{
    text-align: center;
    color:rebeccapurple;
    padding-top:100px;
}
.formbox{
    border:1px solid #e0e0e0;
    margin-top:20px;
    border-radius: 10px;
}
.currentreserve{
    width:100%;
}
.currentreservetext{
    padding:5px;
    border:1px solid grey;
    border-radius: 5px;
}
.waitlisttext{
    padding:5px;
    border:1px solid grey;
    border-radius: 5px;
}
.namecontainer{
    border:1px solid grey;
    height:20px;
    border-radius: 5px;
}